{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="hidden-xs col-sm-1 col-md-3 col-lg-4"></div>
    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4 text-center">
        <div class="p-5"></div>
        <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
            <h2>
                {% block form_title %}
                {% endblock form_title %}
            </h2>

            {% block pre_form %}
            {% endblock pre_form %}

            <div class="p-2"></div>
            <form method="post" novalidate>
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}

                {% for field in form %}
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ field.label }}: {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}

                {% for field in form %}
                <div class="mb-3">
                    {{ field }}
                </div>
                {% endfor %}

                <input
                    type="submit"
                    class="btn btn-primary"
                    value="{% block submit_button_text %}{% endblock submit_button_text %}">
            </form>
        </div>
    </div>
    <div class="hidden-xs col-sm-1 col-md-3 col-lg-4"></div>
</div>
{% endblock content %}
